body {
  background-color: lightgray;
  text-align: center;
  font-family: Arial;
}

h1 {
  color: blue;
}

p {
  font-size: 20px;
}

button {
  background-color: black;
  color: white;
  padding: 10px 20px;
}
